/* line 10, ../_sass/style.scss */
body {
  background-color: #c3cad0;
  margin: 0;
  padding: 0;
  font: 1em "PT Serif", serif;
  color: #2f3640;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-size-adjust: 100%;
}

/* line 22, ../_sass/style.scss */
p {
  line-height: 1.5em;
}

/* line 27, ../_sass/style.scss */
a {
  text-decoration: none;
  color: #6d2e1d;
}

/* line 32, ../_sass/style.scss */
a:active, a:hover {
  color: #8c4b16;
}

/* line 37, ../_sass/style.scss */
.topbar {
  width: 100%;
  height: 100px;
  padding: 1em 0;
  background-color: #b2bdc6;
  border-bottom: 1px solid #8a939f;
}

/* line 45, ../_sass/style.scss */
header {
  position: relative;
  width: 40em;
  height: 100px;
  min-height: 100px;
  margin: 0 auto;
}

/* line 53, ../_sass/style.scss */
header img {
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  margin: 0 20px 0 0;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/* line 64, ../_sass/style.scss */
header h1, h2 {
  display: block;
  position: relative;
  margin: 0;
  line-height: 1em;
}

/* line 71, ../_sass/style.scss */
header h1 a, header h1 a:hover {
  color: #2f3640;
  font-weight: bold;
  font-size: 1.9em;
}

/* line 77, ../_sass/style.scss */
header h1.mobileHeader {
  display: none;
}

/* line 81, ../_sass/style.scss */
header h2 {
  color: #606c7c;
  margin-top: 0.7em;
  font-weight: normal;
  font-size: 1.1em;
}

/* line 88, ../_sass/style.scss */
header nav {
  position: absolute;
  bottom: 0;
  margin-left: 7.5em;
}

/* line 94, ../_sass/style.scss */
header ul li {
  display: inline;
  list-style-type: none;
  padding-right: 1em;
}

/* line 102, ../_sass/style.scss */
section#home {
  height: 100%;
  min-height: 500px;
  width: 40em;
  margin: 0 auto;
}

/* line 109, ../_sass/style.scss */
article {
  margin-top: 2em;
}

/* line 113, ../_sass/style.scss */
article h1 {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid #8a939f;
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
}

/* line 121, ../_sass/style.scss */
article h2 {
  color: #606c7c;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1em;
}

/* line 129, ../_sass/style.scss */
article p {
  margin-bottom: 1em;
}

/* line 133, ../_sass/style.scss */
.full {
  display: block;
  margin: 1em 0;
}

/* line 138, ../_sass/style.scss */
.floatL {
  float: left;
  margin: 1em 1em 1em 0;
}

/* line 143, ../_sass/style.scss */
.floatR {
  float: right;
  margin: 1em 0 1em 1em;
}

/* line 148, ../_sass/style.scss */
article ol {
  margin-bottom: 1em;
  list-style-type: decimal;
  margin-left: 2em;
  padding-left: 1em;
}

/* line 155, ../_sass/style.scss */
article ul {
  margin-bottom: 1em;
  list-style-type: disc;
  margin-left: 2em;
  padding-left: 1em;
}

/* line 162, ../_sass/style.scss */
article blockquote {
  color: #195b7d;
  margin: 1.5em 0;
  padding: 0 2em;
  border-left: 4px solid #8a939f;
}

/* line 169, ../_sass/style.scss */
article aside {
  width: 25%;
  color: #606c7c;
  font-style: italic;
  font-size: 1.2em;
}

/* line 176, ../_sass/style.scss */
article footer p {
  text-align: right;
  font-size: 0.925em;
  color: #606c7c;
}

/* line 183, ../_sass/style.scss */
.bottombar {
  width: 100%;
  border-bottom: 8px solid #195b7d;
  height: 120px;
  min-height: 120px;
}

/* line 190, ../_sass/style.scss */
footer#bottom {
  display: block;
  position: relative;
  width: 40em;
  height: 100px;
  min-height: 100px;
  margin: 0 auto;
  margin-top: 2em;
  text-align: center;
}

/* line 201, ../_sass/style.scss */
#bottom p {
  font-size: 0.9em;
}

/* line 205, ../_sass/style.scss */
footer nav {
  margin-top: 0.5em;
}

/* line 209, ../_sass/style.scss */
footer ul li {
  display: inline;
  list-style-type: none;
  padding-right: 1em;
}

@media only screen and (max-width: 40em) {
  /* line 217, ../_sass/style.scss */
  .topbar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 4.2em;
    padding: 0.5em;
  }

  /* line 226, ../_sass/style.scss */
  header {
    width: 100%;
    height: 3.2em;
    min-height: 3.2em;
  }

  /* line 232, ../_sass/style.scss */
  header img {
    width: 3.125em;
    height: 3.125em;
    -moz-border-radius: 1.625em;
    -webkit-border-radius: 1.625em;
    border-radius: 1.625em;
    margin: 0;
    margin-right: 0.6em;
    padding: 0;
  }

  /* line 243, ../_sass/style.scss */
  header h1 {
    display: inline;
  }

  /* line 247, ../_sass/style.scss */
  header h1 a, header h1 a:hover, header h1 a:active, header h1 a:visited {
    display: inline;
    margin-top: 0.1em;
    font-size: 1.35em;
    line-height: 1em;
  }

  /* line 254, ../_sass/style.scss */
  header h1.mobileHeader {
    display: inline;
    color: #606c7c;
    margin-top: 0.1em;
    font-size: 1.35em;
    line-height: 1em;
  }

  /* line 262, ../_sass/style.scss */
  header h2 {
    display: none;
  }

  /* line 266, ../_sass/style.scss */
  header nav {
    margin-left: 3.725em;
  }

  /* line 270, ../_sass/style.scss */
  section#home {
    width: 100%;
  }

  /* line 274, ../_sass/style.scss */
  article {
    margin-top: 1em;
    padding: 0 0.75em;
  }

  /* line 279, ../_sass/style.scss */
  article h1 {
    font-size: 1.3em;
  }

  /* line 283, ../_sass/style.scss */
  article img {
    max-width: 100%;
    height: auto;
  }

  /* line 288, ../_sass/style.scss */
  .bottombar {
    width: 100%;
    height: auto;
    padding: 0.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: auto;
  }

  /* line 298, ../_sass/style.scss */
  footer#bottom {
    width: 100%;
    height: auto;
    min-height: 3.25em;
    margin: 1em 0;
  }
}
@media only screen and (max-width: 22.25em) {
  /* line 308, ../_sass/style.scss */
  header img {
    display: none;
  }

  /* line 312, ../_sass/style.scss */
  header nav {
    position: relative;
    margin: 0.5em 0 0 0;
  }
}
