<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>paperstar: sometimes design-y, always a little geeky</title>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Ideally you should minify + gzip and host this yourself like a boss -->
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
</head>
<body>