{% include header.html %}
	<a id="top"></a>
	<div class="topbar">
		<header>
			<a href="{{ site.url }}"><img src="http://placekitten.com/100/100" alt="ionno, a star or my face or something." width="100" height="100"/></a>
			<hgroup class="intro">
				<h1><a href="{{ site.url }}">paperstar</a></h1><h1 class="mobileHeader"> // pauline chan</h1>
				<h2>odds, beginnings, and sometimes ends from one pauline chan</h2>
			</hgroup>
			<nav>
				<ul>
					<li><a href="{{ site.baseurl }}/blog/" title="Occasional blathering and updates.">Blog</a></li>
					<li><a href="{{ site.baseurl }}/doodles/" title="Art is too pretentious a word for what's in here.">Doodles</a></li>
					<li><a href="{{ site.baseurl }}/work/"title="Resume and professional/academic samples.">Work</a></li>
					<li><a href="{{ site.baseurl }}/about/"title="...this site, me, but (probably) not the universe.">About</a></li>
					<li><a href="{{ site.baseurl }}/night/" title="Night mode.">&#10029;</a></li>
					<!-- <li><a href="day/" title="Day mode.">&#10025;</a></li> -->
				</ul>
			</nav>
		</header>
	</div>

	{{ content }}

	<div class="bottombar">
		<footer id="bottom">
			<p>For past content by month, check out the <a href="/archives/">archives</a>.</p>
			<p>Follow paperstar with this <a href="{{ site.baseurl }}/rss/" title="For your reader of choice, or if you like your content raw. And wriggling.">RSS feed</a> &amp; follow me <a href="http://twitter.com/leenieth/" title="Note: this gets updated almost never.">@leenieth</a>.</p>
			<nav>
				<ul>
					<li><a href="{{ site.baseurl }}/blog/" title="Occasional blathering and updates.">Blog</a></li>
					<li><a href="{{ site.baseurl }}/doodles/" title="Art is too pretentious a word for what's in here.">Doodles</a></li>
					<li><a href="{{ site.baseurl }}/work/"title="Resume and professional/academic samples.">Work</a></li>
					<li><a href="{{ site.baseurl }}/about/"title="...this site, me, but (probably) not the universe.">About</a></li>
					<li><a href="#top" title="Back to the top.">Up</a></li>
				</ul>
			</nav>
		</footer>
	</div>

{% include footer.html %}